        /****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

 .fa-solid {
     color: var(--main-color);
 }
    

            /*Header*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
}

            /*Body*/

        /**Zone trouver un Hébergement**/

.trouvez-hébergement, p{
    font-size: 16px;
}

.search {
    position: relative;
    display: flex;
}

.searchLogo {
    border: 2px solid var(--main-color);

}

.searchBarre {
    width: 10%;
    border: 2px solid var(--main-color);
    border-left: none;
    border-right: none;
    padding: 5px;
    outline: none;
}

.searchButton {
    border: 2px solid var(--main-color);
    color: var(--filter-bg-color);
    background-color: var(--main-color);
    border-radius: 0% 8% 8% 0%;
}

.searchButton:hover {
    color: red;
}

.Filtres {
    display: flex;
    flex-direction: row;
}

.filtreButton {
    border: solid var(--main-bg-color);
    border-radius:35%;
    width: 7%;
    padding: 15px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    color: var(--main-color);
    display: flex;
    position: row;
    
}

.filtreButton:hover {
    color: var(--main-color);
    border-color: var(--main-bg-color);
}

.infoLogo {
    border: solid 1px;
    border-radius: 50%;
    background-color: white;
    padding: 8px 10px 8px 10px;
    color: var(--main-color);
    border-color: var(--main-color);
}

                /**Grande section**/

.marseillepopulaire {
    display: flex;
    flex-direction: row;
    
}

            /**Zone Hébergement à Marseille**/

.zone_marseille {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 40% 40% 10%;
    background-color: var(--filter-bg-color);
    margin-right: 25px;
    margin-bottom: 100px;
    gap: 10px;
    
}
    .marseilleImg {
        width: 100%;
        height: 200px;
        gap: 5px;
        border-radius: 20% 20% 0 0;
    }

    .art0 {
        grid-column-start: 1; 
        grid-column-end: 3;  
        grid-row-start: 1;
        grid-row-end: 1; 
    }

    .art1 {
        grid-column-start: 1; 
        grid-column-end: 1; 
        grid-row-start: 2;
        grid-row-end: 2;
        border: solid 1px white;
        border-radius: 20% 20% 0 0;
        margin-bottom: 25px;
        background-color: var(--main-bg-color);
    }

    .art2 {
        grid-column-start: 2; 
        grid-column-end: 2; 
        grid-row-start: 2;
        grid-row-end: 2;
        border: solid 1px white;
        border-radius: 20% 20% 0 0;
        margin-bottom: 25px;
        background-color: var(--main-bg-color);
    }

    .art3 {
        grid-column-start: 3; 
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
        border: solid 1px white;
        border-radius: 20% 20% 0 0;
        margin-bottom: 25px;
        background-color: var(--main-bg-color);

    }

    .art4 {
        grid-column-start: 1; 
        grid-column-end: 1; 
        grid-row-start: 3;
        grid-row-end: 3;
        border: solid 1px white;
        border-radius: 20% 20% 0 0;
        margin-bottom: 25px;
        background-color: var(--main-bg-color);

    }

    .art5 {
        grid-column-start: 2; 
        grid-column-end: 2; 
        grid-row-start: 3;
        grid-row-end: 3;
        border: solid 1px white;
        border-radius: 20% 20% 0 0;
        margin-bottom: 25px;
        background-color: var(--main-bg-color);

    }

    .art6 {
        grid-column-start: 3; 
        grid-column-end: 3; 
        grid-row-start: 3;
        grid-row-end: 3;
        border: solid 1px white;
        border-radius: 20% 20% 0 0;
        margin-bottom: 25px;
        background-color: var(--main-bg-color);

    }

    .art7 {
        grid-column-start: 1; 
        grid-column-end: 3; 
        grid-row-start: 4;
        grid-row-end: 4;
        margin-bottom: 50px;

    }


            /**Zone les plus populaires**/

.zone_populaire {
    display: flex;
    flex-direction: column;
    background-color: var(--filter-bg-color);
    width: 25%;
    gap: 20px;
    padding: 20px;
}
    .populaireImg {
        width: 200px;
        height: 150px;
    }

.h1populaire {
    display: flex;
    flex-direction: row;
}

.pop1 {
    background-color: var(--main-bg-color);
    width: 100%;
    border-radius: 10%;
    display: flex;
    align-items: center;
    text-align: center;

}

.pop2 {
    background-color: var(--main-bg-color);
}

.pop3 {
    background-color: var(--main-bg-color);
}

.img7 {
    border-radius: 20% 0 0 20%;
}


            /**Zone Activités**/

.zone_activités {
    display: flex;
}