        /****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

 .fa-solid {
     color: var(--main-color);
 }
    

            /*Header*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
}

            /*Body*/

        /**Zone trouver un Hébergement**/

.trouvez-hébergement, p{
    font-size: 16px;
    margin-top: 0;
}

.search {
    position: relative;
    display: flex;
}

.searchLogo {
    border: 2px solid var(--main-color);

}

.searchBarre {
    width: 10%;
    border: 2px solid var(--main-color);
    border-left: none;
    border-right: none;
    padding: 5px;
    outline: none;
}

.searchButton {
    border: 2px solid var(--main-color);
    color: var(--filter-bg-color);
    background-color: var(--main-color);
    border-radius: 0% 8% 8% 0%;
}

.searchButton:hover {
    color: red;
}

.Filtres {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.filtreButton {
    border: solid var(--main-bg-color);
    border-radius:35%;
    width: 180px;
    padding: 15px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    color: var(--main-color);
    display: flex;
    justify-content: center;
}

.filtreButton:hover {
    color: var(--main-color);
    border-color: var(--main-bg-color);
}

.infoLogo {
    border: solid 1px;
    border-radius: 50%;
    background-color: white;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    color: var(--main-color);
    border-color: var(--main-color);
}

                /**Grande section**/

.marseillepopulaire {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

            /**Zone Hébergement à Marseille**/

.zone_marseille {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 40% 40% 10%;
    background-color: var(--main-bg-color);
    margin: 0 20px 0 20px;
    gap: 20px;
    
}
    .marseilleImg {
        width: 100%;
        height: 200px;
        gap: 5px;
        border-radius: 20% 20% 0 0;
    }

    .art0 {
        grid-column-start: 1; 
        grid-column-end: 3;  
        grid-row-start: 1;
        grid-row-end: 1; 
    }

    .art1 {
        grid-column-start: 1; 
        grid-column-end: 1; 
        grid-row-start: 2;
        grid-row-end: 2;
        border: solid 1px white;
        border-radius: 20% 20% 0 0;
        margin-bottom: 25px;
        background-color:white;
        align-items: center;
        text-align: center;
    }

    .art2 {
        grid-column-start: 2; 
        grid-column-end: 2; 
        grid-row-start: 2;
        grid-row-end: 2;
        border: solid 1px white;
        border-radius: 20% 20% 0 0;
        margin-bottom: 25px;
        background-color: var(--main-bg-color);
        align-items: center;
        text-align: center;
    }

    .art3 {
        grid-column-start: 3; 
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
        border: solid 1px white;
        border-radius: 20% 20% 0 0;
        margin-bottom: 25px;
        background-color: var(--main-bg-color);
        align-items: center;
        text-align: center;
    }

    .art4 {
        grid-column-start: 1; 
        grid-column-end: 1; 
        grid-row-start: 3;
        grid-row-end: 3;
        border: solid 1px white;
        border-radius: 20% 20% 0 0;
        margin-bottom: 25px;
        background-color: var(--main-bg-color);
        align-items: center;
        text-align: center;
    }

    .art5 {
        grid-column-start: 2; 
        grid-column-end: 2; 
        grid-row-start: 3;
        grid-row-end: 3;
        border: solid 1px white;
        border-radius: 20% 20% 0 0;
        margin-bottom: 25px;
        background-color: var(--main-bg-color);
        align-items: center;
        text-align: center;
    }

    .art6 {
        grid-column-start: 3; 
        grid-column-end: 3; 
        grid-row-start: 3;
        grid-row-end: 3;
        border: solid 1px white;
        border-radius: 20% 20% 0 0;
        margin-bottom: 25px;
        background-color: var(--main-bg-color);
        align-items: center;
        text-align: center;
    }

    .art7 {
        grid-column-start: 1; 
        grid-column-end: 3; 
        grid-row-start: 4;
        grid-row-end: 4;
        margin-bottom: 50px;

    }

    .marseillepopulaire, .zone_marseille, .zone_populaire {
        width: 100%;}

            /**Zone les plus populaires**/

.zone_populaire {
    display: flex;
    flex-direction: column;
    background-color: var(--filter-bg-color);
    width: 25%;
    gap: 50px;
    padding: 20px;
    margin: 0 20px 0 0;
    
}
    .populaireImg {
        width: 200px;
        height: 150px;
    }

.h1populaire {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pop1 {
    background-color: var(--main-bg-color);
    width: 100%;
    border-radius: 10%;
    display: flex;
    align-items: center;
    text-align: center;

}

.pop2 {
    background-color: var(--main-bg-color);
    width: 100%;
    border-radius: 10%;
    display: flex;
    align-items: center;
    text-align: center;
}

.pop3 {
    background-color: var(--main-bg-color);
    width: 100%;
    border-radius: 10%;
    display: flex;
    align-items: center;
    text-align: center;
}

.img7, .img8, .img9 {
    border-radius: 20% 0 0 20%;
}


            /**Zone Activités**/

.Activite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.imgAct {
    width: 350px;
    height: 470px;
    border-radius: 20% 20% 0 0;
}

.imgActBorder {
    border: solid white 1px;
    box-shadow: 0 0 6px rgb(29, 49, 63);
    border-radius: 20% 20% 0 0;

}

.txtAct {
    text-align: center;
    font-size: 24px;
}


                /***Footer***/

footer{
        background-color: var(--filter-bg-color);
        display: flex;
        justify-content: space-between;
        margin: 150px 100px 0 100px;
        font-size: 24px;
        text-align: center;
}

.txtFooter {
    font-size: 32px;
}


/***Responsive***/

@media screen and (max-width: 1200px) {
    
}